@charset "utf-8";


body{
    margin: 0px;
    display: grid;
    place-items: center;
    border: 2px dotted black;
    background: rgb(117, 236, 70);
    font: normal 15pt arial;
    animation: changeColor 10.2s infinite;
}
/*
    @keyframes changeColor{
        0% { background-color: #16A8CF; } 
        25% { background-color: #5590ff; } 
        50% { background-color: #87faf4; } 
        75% { background-color: #19fff4; } 
        100% { background-color: #16A8CF; }  
    }
*/
   
h1{
    
    padding: 0px;
    text-align: center;
}
div{
    display: flex;
}
.slider{
    position: relative;
    width: 400px;
    overflow: hidden;
}
.slides{
    display: flex;
    transition: transform 0.5s ease;
    width: calc(400px*6);

}
.slides img {
    width: 400px;
    height: auto;
}
button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;

}
button.prev{
    left: 0;
}
button.next{
    right: 0;
    
}